<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Okta Sign Test App</title>

</head>

<body>
  <div id="okta-login-container"></div>
  <script id="siw-bundle" src="/js/okta-sign-in.next.js"></script>
  <script id="app-bundle" src="/main.js"></script>
</body>

</html>