.simplemodal-overlay {
  background-color: $white;
}

.simplemodal-container,
.simplemodal-container-absolute,
.simplemodal-container-new {
  border-radius: 6px;
  background-color: $component-bg-color;
  box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.3);
  background-clip: padding-box;

  .block {
    @include modal-heading-text;
    height: 54px;
    border: $primary-border-color;
    background: $primary-color;

    span {
      @include modal-heading-text;
    }
  }

  .button-bar {
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .modalCloseImg {
    display: inline;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 54px;
    height: 54px;
    background-color: transparent;
    background-image: url('/img/icons/16x16/modal-close-admin-001.png');
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 20px;
    line-height: 54px;
    text-align: center;
    cursor: pointer;
    z-index: 3200;

    &:hover {
      background-image: url('/img/icons/16x16/modal-close-admin-hover-001.png');
      text-decoration: none;
    }
  }
}

.simplemodal-container {
  top: 50% !important;
  left: 50% !important;
  height: auto !important;

  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 15px;
    padding: 0;
  }

  .o-form-button-bar {
    background: $component-bg-color;
  }

  .m-form,
  .v-form {
    border-right: 0;
    border-left: 0;
  }
}

// Use simplemodal-container-absolute if the modal is long or its height can change when the user interacts with it,
// allows the user to scroll if the modal extends outside of the viewable area
.simplemodal-container-absolute {
  position: absolute !important;
  top: 30px !important;
  height: auto !important;
  margin-bottom: 40px;

  .m-form,
  .v-form {
    border-right: 0;
    border-left: 0;
  }
}

.simplemodal-wrap {
  height: auto !important;

  .infobox-header + p {
    margin-top: 12px;
  }
}

.simplemodal-data,
.simplemodal-content-bg {
  background-color: $component-bg-color;
}

.no-close .simplemodal-close {
  display: none;
}

.modal-content-wrap {
  padding: 30px;
  border-bottom: $border-default;

  h3,
  h3 * {
    margin: 0;
    padding: 0;
    font-size: $body-font-size;
    font-weight: bold;
    line-height: $paragraph-line-height;
  }

  h3 + p {
    margin-top: 12px;
  }
}
