# Description:
#  Code ownership file for the atko-eng/loginpage GitHub repository for mapping resources to teams.
#  See [CODEOWNERS] for details.
#
#
# Resources
#  - [CODEOWNERS] https://help.github.com/articles/about-codeowners

# General:
*                            @alex-chen_atko @denys-oblohin_atko @lester-choi_atko @jared-perreault_atko @priya-kathirvel_atko @shaw-yu_atko @shuo-wu_atko
