node_modules
npm-debug.log
yarn-error.log
target*
build2
.grunt
.sass-cache
.widgetrc
.vscode
.DS_Store
*.iml
.idea
src/config/config.json
packages/@okta/courage-dist/*.html
packages/@okta/courage-dist/*.map
/dist
.yalc
.env
testenv
packages/@okta/i18n/dist/json/
