node_modules
npm-debug.log
yarn-error.log
.log
target*
build2
.grunt
.sass-cache
.widgetrc
.widgetrc.js
.vscode
.DS_Store
*.iml
.idea
src/config/config.json
packages/@okta/courage-dist/*.html
/dist
.yalc
.env
testenv
packages/@okta/i18n/src/json/
packages/@okta/i18n/src/properties/*_in.*
packages/@okta/i18n/dist/
test-reports/
package-lock.json
.eslintcache
types/generated