node_modules/*
!node_modules/@okta
node_modules/@okta/*
!node_modules/@okta/i18n/
npm-debug.log
test/SpecRunner.html
target
build2
.grunt
.sass-cache
.widgetrc
.vscode
.DS_Store
*.iml
.idea

# @okta/i18n module specific ignores
**/node_modules/@okta/i18n/**/*.*
!**/node_modules/@okta/i18n/**/login*.json
!**/node_modules/@okta/i18n/**/login*.properties
!**/node_modules/@okta/i18n/**/country*.json
!**/node_modules/@okta/i18n/**/country*.properties
