language: node_js

node_js:
- '12'

install:
- TMPDIR=/tmp yarn install

script:
- yarn $TEST_SUITE

cache: false

addons:
  chrome: stable

env:
  matrix:
  - TEST_SUITE=lint
  - TEST_SUITE="test -t karma"
  - TEST_SUITE=test:tsd
  - TEST_SUITE=test:testcafe-ci
  - TEST_SUITE="test -t jest"
