/* Layout */
.login-bg-image {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -5;
}

.auth-container {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  height: auto;
  margin: 100px auto 8px;
  width: $container-width;
  min-width: $container-min-width;
  box-sizing: border-box;

  @include device-mq(x-small) {
    margin-top: 0;
    width: 100%;
  }

  @include max-width-mq($container-width) {
    width: 100%;
  }

  @include max-height-mq(750px) {
    margin-top: 0;
  }
}

.auth-account {
  line-height: 18px;
  padding: 6px 0;
}

.auth-content {
  padding: 60px 42px 20px;

  -moz-transition: padding-top 0.4s;
  -webkit-transition: padding-top 0.4s;
  transition: padding-top 0.4s;

  @include device-mq(x-small) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include max-width-mq($container-width - 50px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  .auth-content-inner {
    position: relative;
  }

  .help-links {
    li {
      margin-top: 15px;
    }
  }

}

.enroll-choices {
  padding-top: 20px;
}

.no-beacon .auth-content {
  padding-top: 20px;
}

.auth-idp {
  background-color: #f9f9f9;
  border-radius: 0 0 3px 3px;
  padding: 20px 30px;
  border-top: 1px solid #ddd;
}

.auth-idp-label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 200;
  line-height: 30px;
  color: #888;
  float: left;
  margin-right: 155px;
}

.auth-divider {
  background-color: #a7a7a7;
  height: 1px;
  margin-bottom: 25px;
  text-align: center;

  .auth-divider-text {
    background-color: #fff;
    position: relative;
    top: -0.5em;
    padding: 0 15px;
  }
}

// Transition classes
.animation-container-overflow {
  overflow: hidden;
}

.transition-from-right {
  position: absolute;
  width: 316px;
  top: 0;
  left: 200px;
  opacity: 0;
}

.transition-from-left {
  position: absolute;
  width: 316px;
  top: 0;
  left: -200px;
  opacity: 0;
}
