// Page Properties
$fonts: 'montserrat', Arial, Helvetica, sans-serif;
$default-border-radius: 3px;
$container-width: 400px;
$container-min-width: 300px;
$num-tabs: 5;

// Font Size
$font-size: 13px;
$font-size-small: 12px;
$font-size-header: 14px;
$font-size-footer: 11px;
$font-size-default: 14px;

// Font Weight
$font-weight-body: normal;
$font-weight-header: bold;

// Theme Color
$primary-bg-color: #fff;
$secondary-bg-color: #f9f9f9;

// Text Color
$header-text-color: #5e5e5e;
$dark-text-color: #5e5e5e;
$medium-text-color: #777;
$light-text-color: #a7a7a7;
$link-text-color: #0074b3;
$placeholder-text-color: #aaa;
$error-text-color: #e34843;

// Button Color
$icon-button-bg-color: #fff;
$button-bg-color: #fbfbfb;
$dark-button-bg-color: #929292;
$primary-button-bg-color: #007dc1;
$success-button-bg-color: #4cbf9c;
$negative-button-bg-color: #c35151;
$disabled-button-text-color: #aaa;
$disabled-primary-button-text-color: #fff;
$disabled-primary-button-bg-color: #63b1d7;
$disabled-primary-border-color: #3096c9;

// Social Auth Button Colors
$facebook-icon-bg-color: #304879; // fb brand color - #3B5998
$facebook-label-bg-color: #406094;
$facebook-border-color: #375685;
$google-icon-bg-color: #d43722; // google brand color - #DC4E41
$google-label-bg-color: #de4937;
$google-border-color: #b63c33;
$linkedin-icon-bg-color: #04659a; // linkedin brand color - #0077B5
$linkedin-label-bg-color: #0077b5;
$linkedin-border-color: #0f608f;
$microsoft-icon-bg-color: #4294de; // microsoft brand color - #00A1F1
$microsoft-label-bg-color: #00a1f1;
$microsoft-border-color: #447199;

//Default Custom Button Colors
$default-custom-button-background-color: #ff5f73;
$default-custom-button-border-color: #d6001a;

// Button Size
$input-height: 40px;
$button-height: 50px;
$button-line-height: $input-height - 4px;
$button-padding: 0 15px;

// Input field
$input-bg-color: #fff;
$input-border-color: #bbb;
$input-border-color-hover: #888;
$input-border-color-focus: #0074b3;

// Modal
$modal-bg-color: #f9f9f9;

// Footer

// Other
