.siwHeader h1 {
  line-height: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.siwOrgLogo {
  max-width: 200px;
  max-height: 40px;
}

.authCoinOverlay {
  margin: auto;
  top: 24px;
}
