@mixin email-factor {
  .resend-email-infobox {
    margin-bottom: 15px;
  }
  .mask-email {
    font-weight: 600;
  }
  .resend-email-btn {
    margin-left: 0.25rem;
    color: $link-text-color;
  }
}
