.registration-container {
  margin-top: 30px;
  
  .content {
    padding: 30px 42px;
    -moz-transition: padding-top 0.4s;
    -webkit-transition: padding-top 0.4s;
    transition: padding-top 0.4s;
    border-top: 1px solid #ddd;
    margin-top: 5px;
  }

  .registration-link {
    margin-left: 10px;
    color: $primary-button-bg-color;
  }
}

.registration .password-complexity {
  p {
    padding-left: 18px;
    position: relative;

    span {
      position: absolute;
      left: -2px;
      top: -2px;
      display: none;
    }
  }

  .password-complexity-unsatisfied {
    color: $medium-text-color;
  }

  .password-complexity-satisfied {
    color: $light-text-color;
    text-decoration: line-through;
  }

  .password-complexity-error {
    color: $error-text-color;

    span.error-16-small {
      display: block;
    }
  }
}
