.registration-container {
  margin-top: 30px;
  
  .content {
    padding: 30px 42px;
    -moz-transition: padding-top 0.4s;
    -webkit-transition: padding-top 0.4s;
    transition: padding-top 0.4s;
    border-top: 1px solid #ddd;
    margin-top: 5px;
  }

  .registration-link {
    margin-left: 10px;
    color: $primary-button-bg-color;
  }
}

.registration .password-complexity {
  color: #d3d3d3;

  p {
    padding-left: 18px;
    position: relative;

    span {
      position: absolute;
      left: -2px;
      top: -2px;
      display: none;
    }
  }

  .password-complexity-alert {
    color: #e34843;

    span.error-16-small {
      display: block;
    }
  }

  .password-complexity-meet {
    color: #008000;

    span.confirm-16 {
      display: block;
    }

    span.error-16-small {
      display: none;
    }
  }
}
