.authButton:hover {
  cursor: pointer;
  border-color: var(--ColorBorderPrimaryBase, #1662dd);
}
.authButton:hover .actionName {
  color: var(--ColorHover);
}
.authButton:focus {
  outline-color: var(--FocusOutlineColor);
  outline-offset: var(--FocusOutlineOffset);
  outline-style: var(--FocusOutlineStyle);
  outline-width: var(--FocusOutlineWidth);
}

.infoSection {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 6px;
  padding: 0 0 0 12px;
}

.actionName {
  margin: 5px 0;
  color: var(--ColorPrimaryBase);
  display: flex;
  font-weight: 500;
  align-items: center;
}

.actionName svg {
  margin: 0 0 0 5px;
  fill: currentColor;
}
