@import "./forms";
@import "./footer";
@import "./beacon";
@import "./identify";
@import "./enroll-profile";
@import "./factor-poll-verification";
@import "./callout";
@import "./device-challenge";
@import "./device-enrollment-terminal";
@import "./select-authenticator";
@import "./webauthn";
@import "./okta-verify";
@import "./duo";
@import "./enroll-phone";
@import "./phone-challenge";
@import "./password";
@import "./google-authenticator";
@import "./number-challenge";
@import "./consent-email";
@import "./device-code-terminal";
@import "./success-redirect";

&:not(.no-beacon) {
  // the following is to center the beacon vertically with the divider line
  .siw-main-view {
    float: left; // to prevent margin collapse which drags beacon down
  }
  .siw-main-footer {
    padding-bottom: 20px; // add back padding removed from float
  }
}
