@import "./forms";
@import "./footer";
@import "./beacon";
@import "./challenge-authenticator-email";
@import "./identify";
@import "./enroll-profile";
@import "./factor-poll-verification";
@import "./callout";
@import "./device-challenge";
@import "./device-enrollment-terminal";
@import "./select-authenticator";
@import "./webauthn";
@import "./okta-verify";
@import "./duo";
@import "./enroll-phone";
@import "./phone-challenge";
@import "./password";
@import "./google-authenticator";
@import "./piv-idp";
@import "./number-challenge";
@import "./consent-email";
@import "./device-code-terminal";
@import "./success-redirect";
@import "./captcha";
@import "./yubikey";
