.siw-main-view {
  .clearfix:before,
  .clearfix:after {
    visibility: visible;
    content: '';
    height: 102%;
  }
  .infobox {
    a {
      color: #007dc1;
    }
    strong {
      font-weight: bold;
    }
  }
}
