.siw-main-view {
  .infobox-warning,
  .infobox-error {
    display: block;
    margin-bottom: 15px;
  }

  .okta-form-subtitle {
    margin: 25px 0 10px;
    text-align: left;
  }

  .siw-main-body {
    .ion-messages-container {
      text-align: center;
      margin-bottom: 1rem;
      > * {
        margin-top: 1rem;
      }
    }

    .o-form-content .o-form-label {
      padding-right: 0;

      .o-form-explain {
        float: right;
      }
    }
  }

  // Fixing OKTA-303139 here, making sure V1 stays the same.
  .custom-checkbox {
    width: max-content;
    label {
      line-height: inherit;
    }
  }

  .o-form-explain.o-form-input-error {
    word-break: normal; // Change word-break for M1 to default value OKTA-345397
  }

}
