.oie-enroll-ov-poll {
  ol {
    list-style: decimal;
    list-style-position: inside;
  }
  .qrcode-container {
    text-align: center;
    .qrcode {
      display: block;
      margin: 0 auto;
    }
  }
  .sms-info,
  .email-info {
    margin-bottom: 15px;
  }
}
