.password-authenticator {
  &--heading {
    margin-bottom: 1rem;
  }

  &--list {
    margin-bottom: 1rem;
    padding-left: 1rem;
    list-style: outside;
  }

  .ion-messages-container {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
