.siw-main-view {
  .oie-webauthn {
    .uv-required-callout {
      margin: 20px 0;
      // TODO - clean up after this task 
      // https://oktainc.atlassian.net/browse/OKTA-303528
      padding: 7px 9px 7px 20px !important;
      border: none;
      &:before {
        width: 10px;
      }
    }
  }
  .idx-webauthn-verify-text, .idx-webauthn-enroll-text  {
    margin-bottom: 20px;
  }
  .okta-waiting-spinner {
    display: none;
  }
}
