.yubikey-demo {
  background: url('../img/icons/mfa/yubikeyDemo.png') no-repeat center center;
  background-size: contain;
  width: 100%;
  min-height: 102px;
  margin-bottom: 20px;
  background-color: 'red';
}
