.instructions-list {
  counter-reset: li;

  > li {
    position: relative;
    margin: 0 0 8px 24px;
    padding: 2px 0 6px 4px;
    line-height: 16px;

    &::before {
      position: absolute;
      top: 0;
      left: -2em;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $list-ordered-item-bg-color;
      color: $white;
      font-size: 12px;
      font-weight: normal;
      line-height: 20px;
      text-align: center;
      content: counter(li);
      box-sizing: border-box;
      counter-increment: li;
    }
  }

  li {
    ol,
    ul {
      margin-top: 6px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  code {
    display: block;
    margin-top: 5px;
    padding: 5px;
    border: 1px dashed $border-color-default;
    background: $white;
    word-wrap: break-word;
  }

  .toggle-control {
    display: inline-block;
    padding-right: 22px;
  }

  .toggle-section {
    padding: 10px 0;
  }
}
