.siwContainer {
  max-width: 432px;
  min-width: 320px;
}

.mainViewContainer {
  min-width: 100%;
  /* To prevent overflow scroll */
  min-height: 98vh; 
}

/* TODO: this max width may chaged, will discuss w/ UX */
@media screen and (max-width: 391px) {
  .siwContainer {
    border: none;
  }
}
