.siwContainer {
  max-width: 432px;
  min-width: 320px;
}

.mainViewContainer {
  min-width: 100%;
  /* To prevent overflow scroll */
  min-height: 98vh; 
}

fieldset {
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  border: none;
  min-inline-size: min-content;
}