$dropdown-border-color-hover: $suva-gray;

input[type=button],
input[type=submit],
input.button,
.link-button,
.link-bar a,
.o-form-toggle a {
  @include light-btn-theme($btn-bg-color-default, true);
}

.chzn-container-single .chzn-single {
  @include light-btn-theme($btn-bg-color-default, true);
  text-align: left;

  &:hover {
    border-color: $dropdown-border-color-hover;
  }

  &:active {
    background: $white;
    box-shadow: none;
  }
}

.checkbox-wrap .option {
  @include light-btn-theme($btn-bg-color-default, true);

  .read-only-form &:hover {
    @include light-btn-theme($btn-bg-color-default, false);
    cursor: default;
  }
}
