@mixin btn-theme-generator($bg-color, $gradient-factor, $text-color, $border-factor, $shadow-opacity, $include-hover, $important: '') {
  $i: unquote($important);

  // General
  border: 1px solid;
  text-align: center;
  cursor: pointer;
  color: $text-color $i;
  border-radius: $border-radius-default;

  // Default Colors
  $_default-bg-start-color: $bg-color;
  $_default-bg-end-color: darken($bg-color, $gradient-factor);
  $_default-border-color: darken($bg-color, $border-factor);
  $_default-border-bottom-color: darken($bg-color, $border-factor + $gradient-factor);

  // Default Implementation
  background: linear-gradient($_default-bg-start-color, $_default-bg-end-color), $_default-bg-end-color $i;
  border-color: $_default-border-color $_default-border-color $_default-border-bottom-color $i;
  box-shadow: rgba($black, $shadow-opacity) 0 1px 0, rgba($white, 0.1) 0 1px 0 0 inset $i;

  @if $include-hover {
    &:hover {

      // Hover Colors
      $_hover-bg-start-color: lighten($bg-color, $gradient-factor);
      $_hover-bg-end-color: $bg-color;
      $_hover-border-color: darken($bg-color, 1.5 * $border-factor);
      $_hover-border-bottom-color: darken($bg-color, 1.5 * ($border-factor + $gradient-factor));

      // Hover Implementation
      background: linear-gradient($_hover-bg-start-color, $_hover-bg-end-color), $_hover-bg-end-color $i;
      border-color: $_hover-border-color $_hover-border-color $_hover-border-bottom-color $i;
      text-decoration: none;
    }

    &:active,
    &.button-down {

      // Active Colors
      $_active-bg-start-color: darken($bg-color, $gradient-factor * 0.8);
      $_active-bg-end-color: darken($bg-color, $gradient-factor * 0.7);

      // Active Implementation
      background: linear-gradient($_active-bg-start-color, $_active-bg-end-color), $_active-bg-end-color $i;
      box-shadow: rgba($black, 0.12) 0 1px 1px 0 inset $i;
    }
  }

  &.btn-disabled,
  &.btn-disabled:hover,
  &.btn-disabled:active,
  &.btn-disabled .button-down {
    $_disabled-bg-color: lighten($bg-color, 18%);
    background: $_disabled-bg-color $i;
    box-shadow: rgba($black, $shadow-opacity) 0 1px 0 $i;
    border-color: $_disabled-bg-color $_disabled-bg-color $_disabled-bg-color $i;
    color: lighten($text-color, 30%);
    cursor: not-allowed;
  }
}

@mixin dark-btn-theme($bg-color, $include-hover, $important: '') {
  @include btn-theme-generator($bg-color, 2%, $white, 15%, 0.15, $include-hover, $important);
}

@mixin light-btn-theme($bg-color, $include-hover) {
  @include btn-theme-generator($bg-color, 2%, $text-color-dark, 23%, 0.06, $include-hover);
}
