// WIP: More typography-related styles still need to be moved over from saasure.css

%text-default {
  color: $text-color-dark;
  font-family: $body-font-family;
  font-size: $body-font-size;
}

body {
  @extend %text-default;
}

input,
textarea,
select {
  @extend %text-default;

  &::placeholder {
    color: $text-color-placeholder;
    font-family: $body-font-family;
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

samp,
kbd,
code,
samp *,
kbd *,
code * {
  color: $text-color-dark;
  font-family: $code-font-family;
}

p {
  line-height: $paragraph-line-height;

  + p,
  + ol,
  + ul {
    margin-top: $paragraph-margin;
  }

  + .explain-text {
    margin-top: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 18px;
  padding: 0.4em 0;
  clear: both;
}

h1,
h1 span {
  font-size: 23px;
  font-weight: 200;
}

h2,
h2 span {
  font-size: 20px;
  font-weight: 200;
}

h3,
h3 span {
  font-size: 17px;
}

h4,
h4 span {
  font-size: 14px;
}

h5,
h5 span {
  font-size: 13px;
}

h6,
h6 span {
  font-size: 12px;
}

.has-subheader {
  line-height: 16px !important;

  .subheader {
    display: block;
    margin-top: 6px;
    color: $text-color-light;
    font-size: 14px;
    font-weight: 200;
    line-height: 15px !important;
  }
}

.block {
  margin: 0;
  padding: 0 0 0 20px;
  border: $border-default;
  font-size: 17px;
  font-weight: normal;
  line-height: 50px;
}
