// Okta colors
@import '../nim/abstracts/colors';
$primary-color: $navy-blue;
$primary-border-color: $blue-lagoon;
$primary-accent-color: $cerulean;
$primary-accent-border-color: $prussian-blue-2;
$link-color: $cerulean-2;
$primary-medium-color: $summer-sky;
$primary-medium-border-color: $pelorous;
$primary-light-color: $columbia-blue;
$secondary-color: $puerto-rico;
$secondary-color-text: $puerto-rico-2;
$secondary-color-border: $genoa;
$secondary-color-gradient-darker: $puerto-rico-3;
$warning-color: $moon-yellow;
$error-color: $cinnabar;
$teach-color: $blue-marguerite;

// Text
$body-font-family: 'proxima-nova', Arial, Helvetica, sans-serif;
$body-font-size: 13px;
$small-font-size: 12px;
$code-font-family: 'anonymous-pro', 'Andale Mono', 'Courier New', Courier, monospace;
$text-color-dark: $dim-gray-2;
$text-color-light: $dark-gray-2;
$text-color-darker: $charcoal;
$text-color-placeholder: $dark-gray-3;
$paragraph-line-height: 18px;
$component-heading-color: $suva-gray-2;
$form-heading-color: $secondary-color-text;
$paragraph-margin: $paragraph-line-height / 2;

// Buttons
$btn-bg-color-primary: $secondary-color;
$btn-bg-color-default: $white-2;
$btn-bg-color-danger: $cinnabar-2;
$btn-bg-color-teach: $teach-color;

// Tabs
$tab-bg-color: transparent;
$tab-border-color: $gainsboro;
$tab-border-color-active: $secondary-color;

// Dropdowns
$dropdown-menu-border-color: $very-light-gray;

// Background colors
$component-bg-color: $white-smoke;
$component-bg-color-light: $white-4;
$component-bg-color-dark: $white-smoke-3;
$item-count-bg-color: $very-light-gray-2;
$label-bg-color: $gainsboro-4;

// Borders
$border-color-default: $gainsboro-2;
$border-color-variant: $gainsboro-5;
$border-color-light: $white-smoke-4;
$border-bottom-color-default: $gainsboro;
$border-bottom-color-light: $white-smoke-5;
$border-default: 1px solid $border-color-default;
$border-radius-default: 3px;
$border-radius-top-left-default: 3px;
$border-radius-top-right-default: 3px;
$border-radius-bottom-left-default: 3px;
$border-radius-bottom-right-default: 3px;

// Box shadow
$box-shadow-default: 0 2px 0 rgba(175, 175, 175, 0.12);

// Ordered lists
$list-ordered-item-bg-color: $suva-gray-2;

// Common colors
$black: $black;
$red: $red;
