!.*.json
!.eslintrc.js
!tsconfig.json
assets/
build/
build2/
coverage/
dist/
mocks/
node_modules/
packages/**/*.js
scripts/
size-plugin.json
src/properties/json/
src/static/mockServiceWorker.js
static/
target
test-reports/
test/unit/helpers/xhr/
vendor/
