/* focus indicator */
.password-toggle button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  background: transparent;
}
.password-toggle button:focus,
.password-toggle button:active {
  border-color: rgb(22, 98, 221);
}
#okta-sign-in.auth-container .button.button-primary.link-button-disabled:focus {
  box-shadow: 0 0 8px #51cbee!important;
}
