.authButton:hover {
  cursor: pointer;

}
.authButton:hover .actionName {
  color: var(--ColorHover);
}

.infoSection {
  display: flex;
  padding: 0 0 0 12px;
  flex-grow: 1;
  flex-direction: column;
}

.title {
  font-weight: 500;
}

.description {
  margin: 6px 0 6px 0;
}

.actionName {
  margin: 5px 0;
  color: var(--ColorPrimaryBase);
  display: flex;
  font-weight: 500;
  align-items: center;
}

.actionName svg {
  margin: 0 0 0 5px;
  fill: currentColor;
}
