.identifierContainer {
  border-radius: 36px;
  background-color: var(--BackgroundFill);
}

.identifierSpan {
  margin-inline-start: 10px;
}

.userIconContainer {
  color: var(--PrimaryFill);
  vertical-align: middle;
}
