/*
Example Usage :
    <div class="small">
*/
$fontsizes: (
  ('small', '0.9'),
  ('regular', '1'),
  ('large', '1.2')
);

/*
Example Usage :
    <div class="font-heavy">
*/
$fontweights: (
  ('light', '300'),
  ('regular', '600'),
  ('heavy', '700')
);

/*
Example Usage :
    <div class="text-right">
*/
$textaligns: (
  ('left'),
  ('center'),
  ('right')
);

@mixin generate-fontsizes() {
  @each $item in $fontsizes {
    $value: nth($item, 2);
    $classname: nth($item, 1);

    .#{$classname} {
      font-size: #{$value}em;
    }
  }
}

@mixin generate-fontweights() {
  @each $item in $fontweights {
    $value: nth($item, 2);
    $classname: nth($item, 1);

    .font-#{$classname} {
      font-weight: #{$value};
    }
  }
}

@mixin generate-textaligns() {
  @each $item in $fontweights {
    $value: nth($item, 2);
    $classname: nth($item, 1);

    .font-#{$classname} {
      font-weight: #{$value};
    }
  }
}

@mixin generate-textaligns() {
  @each $item in $textaligns {
    $value: nth($item, 1);

    .text-#{$value} {
      text-align: #{$value};
    }
  }
}

@include generate-fontsizes();
@include generate-fontweights();
@include generate-textaligns();
