{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
  ],
  "env": {
    "browser": true,
    "node": false
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser"
}
