.help-sidebar {
  .form-group-wrap {
    padding: 0 !important;
  }

  .help-wrap {
    float: left;
    padding: 0 0 10px 30px;
    width: 28%;
    box-sizing: border-box;

    h4,
    h5,
    h6 {
      color: $text-color-dark;
      font-weight: normal;
      line-height: 18px;
      margin-bottom: 9px;
      padding: 0;
    }

    p,
    li,
    dt,
    dd,
    strong {
      color: $text-color-light;
    }

    p {
      margin: 0;
    }

    ul {
      margin: 0 0 0 15px;
      list-style: disc outside none;
    }

    li {
      padding-left: 3px;
    }

    .info-wrap,
    p + h4,
    ul + h4,
    div + h4,
    p + h5,
    ul + h5,
    div + h5,
    p + h6,
    ul + h6,
    div + h6,
    p + .infobox,
    ul + .infobox,
    div + .infobox {
      margin-top: 27px;
    }

    dd,
    dd li + li,
    li + li,
    p + p,
    h4 + .infobox,
    h5 + .infobox,
    .infobox + p {
      margin-top: 9px;
    }

    dt p {
      font-weight: bold;
      color: $text-color-light;
    }

    p + dl,
    dl + p,
    p + ul,
    ul + ul,
    dd + dt {
      margin-top: 18px;
    }

    dd {
      ul {
        margin: 9px 0 0 18px;
      }
    }

    *:first-child {
      margin-top: 0 !important;
    }
  }

  .form-wrap {
    float: left;
    width: 72%;
    box-sizing: border-box;
    position: relative;
  }
}
