@font-face {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 400;
    src: url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-reg-webfont.9d5837512674046fa816.eot);
    src: url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-reg-webfont.9d5837512674046fa816.eot?#iefix) format("embedded-opentype"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-reg-webfont.353416ed0ff540352235.woff2) format("woff2"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-reg-webfont.51ac1a980f546ac17d67.woff) format("woff"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-reg-webfont.f9f2259180c0e36006aa.ttf) format("truetype"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-reg-webfont.f3b703e6dcd5c6d19922.svg#proxima_nova_rgregular) format("svg")
}

@font-face {
    font-family: Proxima Nova;
    font-style: italic;
    font-weight: 400;
    src: url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-regit-webfont.3f0c824b764202106b4e.eot);
    src: url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-regit-webfont.3f0c824b764202106b4e.eot?#iefix) format("embedded-opentype"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-regit-webfont.51be743e399dfee28e6c.woff2) format("woff2"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-regit-webfont.cda5d20fe3f8cd0ba460.woff) format("woff"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-regit-webfont.fe55183829cda0b7085b.ttf) format("truetype"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-regit-webfont.15e8ae07b638768b6c83.svg#proxima_novaregular_italic) format("svg")
}

@font-face {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    src: url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-sbold-webfont.ec5a60c81d1aa5db2a5b.eot);
    src: url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-sbold-webfont.ec5a60c81d1aa5db2a5b.eot?#iefix) format("embedded-opentype"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-sbold-webfont.41acb8650115f83780fc.woff2) format("woff2"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-sbold-webfont.78cef0e33b9c7cebcf75.woff) format("woff"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-sbold-webfont.25ecfa3e3cee8643c95e.ttf) format("truetype"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-sbold-webfont.d1907212b9a82c27bdbf.svg#proxima_nova_ltsemibold) format("svg")
}

@font-face {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 300;
    src: url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-light-webfont.e575665f9d85ebce5a75.eot);
    src: url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-light-webfont.e575665f9d85ebce5a75.eot?#iefix) format("embedded-opentype"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-light-webfont.aba797dabec6686294a9.woff2) format("woff2"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-light-webfont.2d7fad787fa83b607ab0.woff) format("woff"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-light-webfont.bab6b55ab392cc61dace.ttf) format("truetype"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-light-webfont.5b4b0ec11a06ec51e2f3.svg#proxima_nova_ltlight) format("svg")
}

@font-face {
    font-family: Proxima Nova;
    font-style: italic;
    font-weight: 300;
    src: url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-lightitalic-webfont.e5901b2bf44424f5b952.eot);
    src: url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-lightitalic-webfont.e5901b2bf44424f5b952.eot?#iefix) format("embedded-opentype"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-lightitalic-webfont.d131640268247c92a76a.woff2) format("woff2"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-lightitalic-webfont.c39ab1f26be9af07bbc8.woff) format("woff"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-lightitalic-webfont.635f41c946ef1429acf9.ttf) format("truetype"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/proximanova-lightitalic-webfont.65f213f85f874eb84782.svg#proxima_novalight_italic) format("svg")
}

@font-face {
    font-family: Public Sans;
    font-style: normal;
    font-weight: 400;
    src: url(https://op3static.oktacdn.com/assets/loginpage/font/assets/PublicSans-Regular-Vietnamese.7f70e758d9d5d50cd543.woff2) format("woff2"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/PublicSans-Regular.da3764ebbac060d5b0e2.woff) format("woff");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01a0-01a1, U+01af-01b0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1ea0-1ef9, U+20ab
}

@font-face {
    font-family: Public Sans;
    font-style: normal;
    font-weight: 400;
    src: url(https://op3static.oktacdn.com/assets/loginpage/font/assets/PublicSans-Regular-Latin-Ext.a605f594c952ed9fdb30.woff2) format("woff2"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/PublicSans-Regular.da3764ebbac060d5b0e2.woff) format("woff");
    unicode-range: U+0100-02af, U+0304, U+0308, U+0329, U+1e00-1e9f, U+1ef2-1eff, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
    font-family: Public Sans;
    font-style: normal;
    font-weight: 400;
    src: url(https://op3static.oktacdn.com/assets/loginpage/font/assets/PublicSans-Regular-Latin.012914c9c5552f1306b8.woff2) format("woff2"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/PublicSans-Regular.da3764ebbac060d5b0e2.woff) format("woff");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+0304, U+0308, U+0329, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
    font-family: Public Sans;
    font-style: normal;
    font-weight: 600;
    src: url(https://op3static.oktacdn.com/assets/loginpage/font/assets/PublicSans-Bold-Vietnamese.7f70e758d9d5d50cd543.woff2) format("woff2"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/PublicSans-Bold.6e839ca7ef1a2cb984a3.woff) format("woff");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01a0-01a1, U+01af-01b0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1ea0-1ef9, U+20ab
}

@font-face {
    font-family: Public Sans;
    font-style: normal;
    font-weight: 600;
    src: url(https://op3static.oktacdn.com/assets/loginpage/font/assets/PublicSans-Bold-Latin-Ext.a605f594c952ed9fdb30.woff2) format("woff2"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/PublicSans-Bold.6e839ca7ef1a2cb984a3.woff) format("woff");
    unicode-range: U+0100-02af, U+0304, U+0308, U+0329, U+1e00-1e9f, U+1ef2-1eff, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
    font-family: Public Sans;
    font-style: normal;
    font-weight: 600;
    src: url(https://op3static.oktacdn.com/assets/loginpage/font/assets/PublicSans-Bold-Latin.012914c9c5552f1306b8.woff2) format("woff2"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/PublicSans-Bold.6e839ca7ef1a2cb984a3.woff) format("woff");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+0304, U+0308, U+0329, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    src: url(https://op3static.oktacdn.com/assets/loginpage/font/assets/Inter-Regular.c8ba52b05a9ef10f4758.woff2) format("woff2"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/Inter-Regular.8c206db99195777c6769.woff) format("woff")
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 400;
    src: url(https://op3static.oktacdn.com/assets/loginpage/font/assets/Inter-Italic.cb10ffd7684cd9836a05.woff2) format("woff2"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/Inter-Italic.890025e726861dba417f.woff) format("woff")
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    src: url(https://op3static.oktacdn.com/assets/loginpage/font/assets/Inter-SemiBold.b5f0f109bc88052d4000.woff2) format("woff2"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/Inter-SemiBold.cca62d21c8c555c392e5.woff) format("woff")
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    src: url(https://op3static.oktacdn.com/assets/loginpage/font/assets/Inter-SemiBold.b5f0f109bc88052d4000.woff2) format("woff2"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/Inter-SemiBold.cca62d21c8c555c392e5.woff) format("woff")
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 700;
    src: url(https://op3static.oktacdn.com/assets/loginpage/font/assets/Inter-SemiBoldItalic.d9467ee321a8f38aefff.woff2) format("woff2"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/Inter-SemiBoldItalic.463bdbfb28abad0fa6df.woff) format("woff")
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 600;
    src: url(https://op3static.oktacdn.com/assets/loginpage/font/assets/Inter-SemiBoldItalic.d9467ee321a8f38aefff.woff2) format("woff2"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/Inter-SemiBoldItalic.463bdbfb28abad0fa6df.woff) format("woff")
}

@font-face {
    font-family: Aeonik;
    font-style: normal;
    font-weight: 400;
    src: url(https://op3static.oktacdn.com/assets/loginpage/font/assets/Aeonik-Regular.c672e6fbaa411f5719f3.woff2) format("woff2"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/Aeonik-Regular.4957ae92e5585e501e94.woff) format("woff")
}

@font-face {
    font-family: Aeonik;
    font-style: italic;
    font-weight: 400;
    src: url(https://op3static.oktacdn.com/assets/loginpage/font/assets/Aeonik-RegularItalic.ad71d1c031caab7769e7.woff2) format("woff2"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/Aeonik-RegularItalic.13a11c53f04032c57e84.woff) format("woff")
}

@font-face {
    font-family: Aeonik;
    font-style: normal;
    font-weight: 700;
    src: url(https://op3static.oktacdn.com/assets/loginpage/font/assets/Aeonik-Medium.a584ebd29a0626ccf36d.woff2) format("woff2"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/Aeonik-Medium.3b09f560a7da8d6f25b5.woff) format("woff")
}

@font-face {
    font-family: Aeonik;
    font-style: normal;
    font-weight: 600;
    src: url(https://op3static.oktacdn.com/assets/loginpage/font/assets/Aeonik-Medium.a584ebd29a0626ccf36d.woff2) format("woff2"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/Aeonik-Medium.3b09f560a7da8d6f25b5.woff) format("woff")
}

@font-face {
    font-family: Aeonik;
    font-style: italic;
    font-weight: 700;
    src: url(https://op3static.oktacdn.com/assets/loginpage/font/assets/Aeonik-MediumItalic.699c767baed36aef39e0.woff2) format("woff2"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/Aeonik-MediumItalic.933fdf9a04975c8f9cc7.woff) format("woff")
}

@font-face {
    font-family: Aeonik;
    font-style: italic;
    font-weight: 600;
    src: url(https://op3static.oktacdn.com/assets/loginpage/font/assets/Aeonik-MediumItalic.699c767baed36aef39e0.woff2) format("woff2"), url(https://op3static.oktacdn.com/assets/loginpage/font/assets/Aeonik-MediumItalic.933fdf9a04975c8f9cc7.woff) format("woff")
}