@import '../helpers/variables';
$padding-to-border: 10px;

.o-form-read-mode .file-upload {
  .file-upload-wrap,
  .file-upload-cancel {
    display: none !important;
  }
}

// add spacing between the file input and the preview block
// in case of a multi-uploader
form:not(.o-form-read-mode) .file-upload-wrap:not(.hide) + .file-upload-preview-wrap:not(:empty) {
  margin-top: 15px;
}

.file-upload {
  .file-name {
    margin: 0;
    padding: 0 15px 10px;
  }

  .file-upload-cancel {
    padding: 0 10px;
    float: right;
    clear: none;

    &.file-upload-uploading {
      padding: 8px;
    }

    &::after {
      cursor: pointer;
      content: 'X';
      color: $dim-gray;
    }
  }

  .facade {
    position: relative;
  }

  .file-name-text-field {
    cursor: pointer;
    width: 100%;
    height: 30px;
  }

  .browse-file-button {
    position: absolute;
    right: 0;
    top: 0;
  }

  .file-upload-progress-indicator-wrap {
    border-color: $columbia-blue-2;
    float: none;
  }

  .file-upload-progress-indicator {
    background-color: $columbia-blue-2;
    padding: 8px;
    float: left;
    white-space: nowrap;
    word-break: keep-all;
    transition: width 1s ease-in-out, height 300ms ease-in-out;
  }

  .file-upload-preview {
    min-height: 50px;
    float: left;
    width: 100%;
    position: relative;
    padding: $padding-to-border 0;
    border-top: $border-default;
    border-left: $border-default;
    border-right: $border-default;
    box-shadow: $box-shadow-default;

    &:first-child {
      border-top-left-radius: $border-radius-default;
      border-top-right-radius: $border-radius-default;
    }

    &:last-child {
      border-bottom: $border-default;
      border-bottom-left-radius: $border-radius-default;
      border-bottom-right-radius: $border-radius-default;
    }
  }
}

.o-form-read-mode .file-upload-preview {
  background-color: $white;
}

%file-download-style {
  .file-download {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    .download-icon {
      padding: 0 5px;

      &::before {
        color: $text-color-light;
      }
    }
  }
}

.image-file-upload {
  .image-file-info {
    @extend %file-download-style;
    padding: 0 $padding-to-border;

    li {
      line-height: 20px;
    }
  }

  .image-file-thumbnail {
    padding: 0 $padding-to-border;
    overflow: hidden;

    img {
      max-width: 150px;
      max-height: 60px;
      width: auto;
      height: auto;
      margin: 10px 5px 10px 0;
    }
  }
}

%cert-details-block {
  margin-left: 45px;
  padding: 5px $padding-to-border 0;
  display: block;
}

.cert-file-upload {
  .cert-thumbnail {
    padding: 0 $padding-to-border;
    position: absolute;
  }

  .cert-expand-details {
    @extend %cert-details-block;
    color: $link-color;
    padding-top: 15px;
  }

  .cert-details-header {
    @extend %cert-details-block, %file-download-style;

    .cert-names {
      font-weight: 600;
      margin: 0 0 10px;
    }

    .file-download {
      .download-icon {
        vertical-align: bottom;
      }
    }
  }

  .cert-details {
    @extend %cert-details-block;

    .cert-name {
      font-weight: 600;
      margin: 10px 0 5px;
    }

    .cert-name,
    .cert-issuer,
    .cert-upload-info,
    .cert-valid-date {
      color: $text-color-light;
    }

    .cert-expiration {
      margin-top: 5px;
      color: $secondary-color-text;

      &.cert-expired {
        color: $error-color;
      }
    }
  }
}
