{
  "extends": [
    "eslint:recommended",
    "plugin:jasmine/recommended"
  ],
  "plugins": [
    "jasmine",
    "webdriverio",
    "@typescript-eslint"
  ],
  "env": {
    "webdriverio/wdio": true,
    "jasmine": true
  },
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": 0
  },
  "overrides": [
    {
      "files": ["**/*/.ts"],
      "parser": "@typescript-eslint/parser",
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ]
    }
  ]
}
