.microsoft-16 {
  margin: 2px 0 0;
  background-image: url('/img/icons/login/microsoft_logo.png');
  background-repeat: no-repeat;
  color: $icon-color-microsoft;
}

.smartcard-16 {
  margin: 2px 0 0;
  background-image: url('/img/icons/16x16/smart_card16.png');
  background-repeat: no-repeat;
}
