// Okta icon colors
$icon-color-dark: $dim-gray-2;
$icon-color-light: $dark-gray-2;
$icon-color-medium: $dim-gray;
$icon-color-white: $white;
$icon-color-black: $black;
$icon-color-green: $secondary-color;
$icon-color-light-green: $atlantis;
$icon-color-danger: $error-color;
$icon-color-warning: $warning-color;
$icon-color-info: $primary-color;

// Social icon colors
$icon-color-facebook: $mariner;
$icon-color-google: $cinnabar-4;
$icon-color-microsoft: $deep-sky-blue;

// Operating System icon
$icon-color-android: $celery;
$icon-color-windows: $deep-sky-blue-2;

// Group logos
$icon-color-workday-orange: $tangerine;
$icon-color-workday-blue: $cerulean-blue;
$icon-color-office-365: $cinnabar-5;
$icon-color-box: $summer-sky-2;
$icon-color-g-suite: $dim-gray;
$icon-color-ulti-pro-gray: $squirrel;
$icon-color-ulti-pro-green: $yellow-green-2;
$icon-color-netsuite-dark-blue: $dark-cerulean-2;
$icon-color-netsuite-light-blue: $spindle;
$icon-color-bamboo-hr: $yellow-green-3;
