.o-wizard {
  &.o-wizard-progressbar-steps-2 {
    .o-wizard-step {
      width: 50%;
    }

    .o-wizard-progressbar-line {
      width: 50%;
      left: 24%;
    }
  }

  &.o-wizard-progressbar-steps-3 {
    .o-wizard-step {
      width: 33%;
    }

    .o-wizard-progressbar-line {
      width: 68%;
      left: 14%;
    }
  }

  &.o-wizard-progressbar-steps-4 {
    .o-wizard-step {
      width: 25%;
    }

    .o-wizard-progressbar-line {
      width: 75%;
      left: 12%;
    }
  }

  &.o-wizard-progressbar-steps-5 {
    .o-wizard-step {
      width: 20%;
    }

    .o-wizard-progressbar-line {
      width: 80%;
      left: 10%;
    }
  }
  width: 640px;
  margin: 40px auto;
  position: relative;

  .o-wizard-step-title h2 {
    color: $text-sub;
    font-size: 20px;
    margin-left: 5px;
  }

  .o-wizard-step-content {
    min-height: 150px;
    margin: 0 20px;
  }

  &.o-wizard-progressbar-has-labels {
    .o-wizard-progressbar-wrap {
      padding-bottom: 75px;
    }
  }

  .o-wizard-step-label {
    margin: 0;
    padding: 0;
  }

  .o-wizard-progressbar-wrap {
    position: relative;
    border-top: 1px solid $base-border-color;
    padding-top: 20px;
    border-bottom: 1px solid $base-border-color;
    padding-bottom: 55px;
    margin-bottom: 20px;

    .o-wizard-progressbar-line {
      height: 2px;
      position: absolute;
      top: 36px;
      background-color: $base-border-color;
      z-index: 1;
    }

    .o-wizard-progressbar {
      counter-reset: step;

      .o-wizard-step {
        list-style-type: none;
        float: left;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        color: $text-body;
        font-size: 12px;
      }

      .o-wizard-step::before {
        width: 32px;
        height: 32px;
        position: relative;
        z-index: 3;
        content: counter(step);
        counter-increment: step;
        line-height: 32px;
        border: 2px solid $base-border-color;
        display: block;
        text-align: center;
        font-weight: bold;
        margin: 0 auto 12px;
        border-radius: 50%;
        background-color: $white;
        color: $text-body;
        font-size: 13px;
        transition: border, 100ms, ease-out, color, 600ms, linear;
      }

      .o-wizard-active,
      .o-wizard-complete {
        color: $text-heading;
      }

      .o-wizard-step .icon {
        position: absolute !important;
        top: 9px;
        left: 50%;
        margin-left: -8px;
        z-index: 2;
        background-color: $white;
      }

      .o-wizard-step .icon::before {
        color: $white;
        transition: color, 600ms;
      }

      .o-wizard-error .icon::before {
        color: cv(danger);
      }

      .o-wizard-complete .icon,
      .o-wizard-error .icon {
        z-index: 4;
      }

      .o-wizard-complete .icon::before {
        color: cv(success);
      }

      .o-wizard-complete::before {
        border-color: cv(success);
        color: cv(success);
      }

      .o-wizard-active::before {
        border-color: cv(action);
        color: cv(action);
      }

      .o-wizard-error::before {
        border-color: cv(danger);
        color: cv(danger);
      }

      .o-wizard-step::after {
        width: 0;
        height: 2px;
        content: '';
        position: absolute;
        background-color: $base-border-color;
        top: 16px;
        left: -50%;
        z-index: 2;
        transition: width, 600ms, ease-out;
      }

      .o-wizard-complete + .o-wizard-active::after,
      .o-wizard-complete + .o-wizard-complete::after {
        background-color: cv(success);
        width: 100%;
      }

      .o-wizard-active.o-wizard-has-substep + .o-wizard-step::after {
        background-color: cv(action);
      }

      .o-wizard-error.o-wizard-has-substep + .o-wizard-step::after {
        background-color: cv(danger);
      }

      .o-wizard-substeps-1-2 + .o-wizard-step::after {
        width: 50%;
      }

      .o-wizard-substeps-1-3 + .o-wizard-step::after {
        width: 33%;
      }

      .o-wizard-substeps-2-3 + .o-wizard-step::after {
        width: 66%;
      }

      .o-wizard-substeps-1-4 + .o-wizard-step::after {
        width: 25%;
      }

      .o-wizard-substeps-2-4 + .o-wizard-step::after {
        width: 50%;
      }

      .o-wizard-substeps-3-4 + .o-wizard-step::after {
        width: 75%;
      }

      .o-wizard-substeps-1-5 + .o-wizard-step::after {
        width: 20%;
      }

      .o-wizard-substeps-2-5 + .o-wizard-step::after {
        width: 40%;
      }

      .o-wizard-substeps-3-5 + .o-wizard-step::after {
        width: 60%;
      }

      .o-wizard-substeps-4-5 + .o-wizard-step::after {
        width: 80%;
      }

      .o-wizard-step:first-child::after {
        content: none;
      }
    }
  }

  .o-wizard-content-wrap {
    margin: 5px;
  }

  .o-wizard-button-bar {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid $base-border-color;

    .link-button {
      min-width: 100px;

      &.next {
        float: right;
      }
    }
  }
}
